<p>Hi <%= @user.name %>,</p>

<p>You are almost done signing up to MakerRepo! Press the button below to complete your registration:</p>

<p class="call-to-action"><%= link_to 'Confirm my email address', confirm_users_url(token: @hash), class: 'button', target: '_blank' %></p>

<p>If the button above does not work, please copy the following link into your browser: <%= link_to confirm_users_url(token: @hash), confirm_users_url(token: @hash), target: '_blank' %></p>

<p>
  Cheers,<br>
  The MakerRepo Team
</p>
