<p>Hi <%= @user.name %>,</p>

<p>The email address associated to your account has been changed to <strong><%= @user.email %></strong>.</p>

<p>If this change was not intentional, please contact us at <a href="mailto:uottawa.makerepo@gmail.com">uottawa.makerepo@gmail.com</a> as soon as possible to revert it.</p>

<p>
  Cheers,<br>
  The MakerRepo Team
</p>
