<p>Hi <%= @user.name %>,</p>

<p>You have successfully signed up to MakerRepo! Your username is <strong><%= @user.username %></strong>.</p>

<p>We are looking forward to seeing your projects!</p>

<p>
  Cheers,<br>
  The MakerRepo Team
</p>
