<div class="padding">
  <h2 class="text-center">Two Factor Authentication Sign In</h2>

  <%= form_tag verify_otp_two_factor_auth_index_path, method: :post do %>
    <%= label_tag :otp_attempt, "Enter a one-time password" %>
    <div class="form-group">
      <%= text_field_tag :otp_attempt, nil, class: 'form-control' %>
    </div>
    <%= submit_tag "Verify", class: 'btn btn-primary' %>
  <% end %>
</div>